aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px green;
    font-style: italic;
    color: #29627e;
}
aside > p {
    margin: 5px;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

label {
    padding-right: 10px;
    font-size: 1rem;
}
footer {
    font-size:.8rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding:.5em;
    }

details[open] {
    padding: .5em;
    }

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}


